<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	 
 
  <servlet>
      <servlet-name>userregservlet</servlet-name>
      <servlet-class>user.servlet.userregservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>userregservlet</servlet-name>
      <url-pattern>/userregservlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
      <servlet-name>userloginservlet</servlet-name>
      <servlet-class>user.servlet.userloginservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>userloginservlet</servlet-name>
      <url-pattern>/userloginservlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
      <servlet-name>addcommservlet</servlet-name>
      <servlet-class>system.servlet.addcommservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>addcommservlet</servlet-name>
      <url-pattern>/addcommservlet</url-pattern>
  </servlet-mapping>
  
  
 
  
</web-app>
