<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	 
 <servlet>
   <servlet-name>CommentManage</servlet-name>
   <jsp-file>/WEB-INF/AdminManagePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>CommentManage</servlet-name>
   <url-pattern>/CommentManage</url-pattern>
  </servlet-mapping>
 
 <servlet>
   <servlet-name>UserManage</servlet-name>
   <jsp-file>/WEB-INF/Users_AdminManage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>UserManage</servlet-name>
   <url-pattern>/UserManage</url-pattern>
  </servlet-mapping>

<servlet>
   <servlet-name>validate</servlet-name>
   <jsp-file>/WEB-INF/user_validate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>validate</servlet-name>
   <url-pattern>/validate</url-pattern>
  </servlet-mapping>


 <servlet>
      <servlet-name>admincommentservlet</servlet-name>
      <servlet-class>admin.servlet.admincommentservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>admincommentservlet</servlet-name>
      <url-pattern>/admincommentservlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
      <servlet-name>adminloginservlet</servlet-name>
      <servlet-class>admin.servlet.adminloginservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>adminloginservlet</servlet-name>
      <url-pattern>/adminloginservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>userregservlet</servlet-name>
      <servlet-class>user.servlet.userregservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>userregservlet</servlet-name>
      <url-pattern>/userregservlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
      <servlet-name>userloginservlet</servlet-name>
      <servlet-class>user.servlet.userloginservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>userloginservlet</servlet-name>
      <url-pattern>/userloginservlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
      <servlet-name>addcommservlet</servlet-name>
      <servlet-class>system.servlet.addcommservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>addcommservlet</servlet-name>
      <url-pattern>/addcommservlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
      <servlet-name>deletecommservlet</servlet-name>
      <servlet-class>system.servlet.deletecommservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>deletecommservlet</servlet-name>
      <url-pattern>/deletecommservlet</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
      <servlet-name>topdfservlet</servlet-name>
      <servlet-class>system.servlet.topdfservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>topdfservlet</servlet-name>
      <url-pattern>/topdfservlet</url-pattern>
  </servlet-mapping>
  

  <welcome-file-list>
    <welcome-file>userlogin.jsp</welcome-file>
  </welcome-file-list>
  
  
  
</web-app>
